.Red{
    color: rgb(209, 6, 6);
}

.Green{
    color: rgb(14, 121, 14);
}
.GameInfo{
    
    text-align: center;
}
.ControlHistory{
    display: flex;
    justify-content: space-around;
}

@media (max-width: 499px){
    
    .ControlHistory{
        flex-direction: column;
        color: red;
    }
    .DesktopOnly {
        display:none;
    }
}